Error when TOTP is padded with = characters

There is an issue when the TOTP seed is padded with = characters, then when trying to copy the TOTP an error message will be shown "Error, bad seed! (-1)", with the -1 part of the error being repeated once per each occurence of a padding = character.

I noticed this when scanning QR codes using Strongbox on iOS, which will add these padding characters, and then trying to create a TOTP in KeePass using Tray TOTP plugin.
After manually removing the padding = characters everything works fine.

I am not 100% whether it is incorrect of Strongbox to add the padding = characters or of Tray TOTP plugin to fail when they exist.

See also here my reddit post to the Strongbox author and his response:
https://www.reddit.com/r/strongbox/comments/g5i2fe/totp_qr_scanning_switching_to_new_device/

Nice find, that's right. We should accept the equal sign(s) if they are needed, because the [RFC 4648 - The Base16, Base32, and Base64 Data Encodings](https://tools.ietf.org/html/rfc4648) states so.

Thanks for looking into this one @dannoe 
-Mark (Strongbox Dev)

The [Key Uri Format secret section](https://github.com/google/google-authenticator/wiki/Key-Uri-Format#secret) states:
> REQUIRED: The secret parameter is an arbitrary key value encoded in Base32 according to RFC 3548. The padding specified in RFC 3548 section 2.2 is not required and should be omitted.

So we should indeed accept with and without padding, and omit padding when exporting to a Key Uri.